<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Email</title>
</head>

<body>
    <h2 class="title text-center font-weight-light" style="font-weight: 300; text-align: center">
        Welcome to,
    </h2>
    <h1 class="title text-center font-weight-light" style="
        font-weight: 300;
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;
      ">
        Pitch Deck AI
    </h1>

    <p>Dear <span style="font-weight: 600">
            <%= username %>
        </span>,</p>
    <p style="text-align: center;">

        <%= message %>

    </p>

</body>

</html>